@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Models
 <section class="showcase-section">
            <div class="container">
                <div class="showcase-info">
                    <h1>@Model.Value("showcaseTitle")</h1>
                    <p></p>
                    <div class="showcase-btn">
                        <a class="btn-theme" href="@Model.Value("showcaseButtonUrl")">@Model.Value("showcaseButtonText")  <i class="fa-solid fa-arrow-up-right"></i></a>
                        <a class="btn-outline-dark" href="#">Learn More  <i class="fa-solid fa-arrow-up-right"></i></a>
                    </div>
                </div>
                <div class="showcase-image">

                    @{
                        var showcaseImage = Model.Value<MediaWithCrops>("showcaseImage");
                        if (showcaseImage != null)
                        {
                            <img src="@showcaseImage.MediaUrl()" alt="" />
                        }
                    }
                </div>
            </div>
            <img class="white-line-left" src="~/static/Background-effects/Rectangle607.svg" alt="">
        </section>